@page
@model Clean.Presentation.Admin.Pages.Dashboard
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = "Shared/_Layout";
}

<h2>Dashboard</h2>
<form method="post" asp-page-handler="Logout">
    <button type="submit" class="btn btn-info">Log out</button>
</form>

<div class="row w-100 mt-6">
    <div class="col col-2"></div>
    <div class="col col-8">
        <table class="table">
            <thead>
            <tr>
                <th>Email</th>
                <th>Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var user in Model.Users)
            {
                <tr>
                    <td>@user.Email</td>
                    <td>@string.Join(", ", user.Roles)</td>
                    <td>
                        <form method="post">
                            <input type="hidden" asp-for="User!.Email" value="@user.Email"/>
                            <button type="submit" class=" w-100 btn btn-warning">Toggle admin role</button>
                        </form>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    </div>
</div>